<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <h1 class="header-title">Đăng Nhập</h1>
    </header>
    <div class="form-container">
        <form class="form" action="/users/login" method="POST">
            <input type="text" class="form-input" name="username" placeholder="Tên người dùng" required>
            <input type="password" class="form-input" name="password" placeholder="Mật khẩu" required>
            <input type="submit" class="form-submit" value="Đăng Nhập">
        </form>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Bản quyền thuộc về bạn.</p>
    </footer>
</body>

</html>