<div class="container">
    <footer class="bg-dark text-center">
        <div class="text-center p-3" style="color:white;">
            <div>
                <div class="Contact d-flex justify-content-evenly align-items-center">
                    <h3>Contact:</h3>
                    <h3>Phone: 0123456789</h3>
                    <h3>Email: 22120451-22120436-22120</h3>
                </div>
            </div>
        </div>
    </footer>
</div>

<link rel="stylesheet" href="/css/footer.css">