<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 15px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        /* Đảm bảo mọi phần vượt quá thẻ sẽ bị ẩn */
    }

    .card img {
        width: 100%;
        /* Chiếm toàn bộ chiều rộng của card */
        height: auto;
        /* Điều chỉnh chiều cao ảnh tự động để giữ tỷ lệ */
        object-fit: cover;
        /* Đảm bảo ảnh luôn lấp đầy thẻ mà không bị méo */
    }

    .card-body {
        padding: 1.5rem;
        text-align: center;
        z-index: 1;
        /* Đảm bảo nội dung không bị ảnh đè lên */
    }

    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-title,
    .card-price {
        transition: color 0.3s ease;
    }

    .card:hover .card-title,
    .card:hover .card-price {
        color: #007bff;
    }

    .card:hover {
        transform: translateY(-10px);
        /* Nổi lên khi hover */
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
        /* Bóng đậm hơn khi hover */
    }

    .image {
        width: 100%;
        /* Hoặc kích thước cố định nếu bạn muốn */
        height: 300px;
        /* Hoặc tùy chỉnh chiều cao */
        overflow: hidden;
        position: relative;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* Hoặc 'contain' tùy theo nhu cầu */
    }
</style>


<section>
    <div class="text-center container py-5">
        <h1 class=""><strong>Sản Phẩm</strong></h1>

        <div class="row">
            {{#each products}}
            <div class="col-lg-4 col-md-12 mb-4">
                <a href="/products/{{this.slug}}" style="text-decoration: none;">
                    <div class=" card">
                        <div class="image">
                            <img src="{{this.image}}" alt="Product" class="w-100" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">{{this.name}}</h5>
                            <h6 class="card- mb-3">${{this.price}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>