<section>
    <div class="text-center container py-5">
        <h1 class=""><strong>Sản Phẩm</strong></h1>

        <div class="row">
            {{#each products}}
            <div class="col-lg-4 col-md-12 mb-4">
                <a href="/products/{{this.slug}}" style="text-decoration: none;">
                    <div class=" card">
                        <div class="image">
                            <img src="{{this.image}}" alt="Product" class="w-100" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">{{this.name}}</h5>
                            <h6 class="card- mb-3">${{this.price}}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<link rel="stylesheet" href="/css/home.css">