<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Danh Sách Sản Phẩm</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <h1>Danh Sách Sản Phẩm</h1>
    <a href="/products/add">Thêm Sản Phẩm</a>
    <ul>
        <% products.forEach(product=> { %>
            <li>
                <%= product.name %> - <%= product.price %>
                        <a href="/products/edit/<%= product._id %>">Sửa</a>
                        <a href="/products/delete/<%= product._id %>">Xóa</a>
            </li>
            <% }) %>
    </ul>
</body>

</html>